
/* ==========================================================================

   ========================================================================== */
*{
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html {
  background-color: #fbfbfb;
  color: blueviolet;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Titillium Web', sans-serif;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, blueviolet 7.5%, #eee 7.5%, #eee 85%, blueviolet 85%, blueviolet 95%, #444 95%);
}
ul{
  list-style: none;
}
a {
  color: blueviolet;
  text-decoration: none;
  transition: all 500ms ease-in-out;
}
a:hover {
  font-weight: bolder;
}
.header {
  grid-area: hd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-bottom: solid 1px rgba(0,0,0, .2);
}
.header h2 {
  color: rgba(0,0,0, .8);
  font-weight: lighter;
  text-decoration: underline;
}

.container {
  display:grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 15% auto 10%;
  grid-template-columns: 5% 10% auto 10%;
  grid-template-areas:
      "hd hd hd hd"
      "gl sd main gr"
      "ft ft ft ft";
}

.main {
  grid-area: main;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5% 10%;

}
.jumbo {
  width: 80%;
  min-height: 30%;
  background-color: rgba(0,0,0,.2);
}

.sd {
  grid-area: sd;
}

.sd nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sd nav ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sd nav ul li a {
  padding: 30px;
  font-size: larger;
}

.active-link {
  background-color: rebeccapurple;
  color: white;
}

.gl {
  grid-area: gl;
}
.gr {
  grid-area: gr;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: ft;
}

/* ==========================================================================
CARD
   ========================================================================== */

.blog-card{
  box-shadow: 0 0 10px rgba(0,0,0, .5);
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 80%;
  /*max-width: 700px;*/
}
.card-header {
  background-color: rgba(0,0,0,.5);
  color: #fff;
  padding: 1% .5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-body {
  background-color: #eee;
  padding: 1.5%;
}

.avatar {
  width: 48px;
  height: 48px;
  background-color: #555;
  border-radius: 50%;
  border: none;
}
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
