@media only screen and (max-width: 900px) {
  html {
    background: #fff linear-gradient(135deg, blueviolet 50px, #fff 50px, #fff 90%, blueviolet 90%, blueviolet 97.5%, #444 97.5%) no-repeat fixed;
  }

  .sd ul li a {
    padding: 12.5px 2.5px;
    font-size: small;
  }

  .main {
    padding: 2.5% 10%;
  }

  .main p {
    color: #333;
    max-width: 90%;
  }

  .gl, .gr {
    display: none;
  }

  .sd {
    left: 15px;
  }

  .container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 15% auto 10%;
    grid-template-columns: 10% auto;
    grid-template-areas: "hd hd" "sd main" "ft ft";
  }
}
