@media only screen and (max-width: 320px) {
  html {
    background: #fff linear-gradient(135deg, blueviolet 25px, #fff 25px, #fff 90%, blueviolet 90%, blueviolet 97.5%, #444 97.5%) no-repeat fixed;
  }

  .jumbo {
    display: none;
  }

  .main {
    padding: 0;
    margin: 0;
  }

  .main p {
    color: #333;
    max-width: 85%;
  }

  .sd {
    left: 0;
  }
}
